name: Go Test
on: [push]
jobs:
  test:
    name: test
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.operating-system }}

    steps:
    - name: Setup system libraries
      if: matrix.operating-system == 'ubuntu-latest'
      run: sudo apt update && sudo apt install -y --no-install-recommends libpcap-dev

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get cached modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Test
      run: make test
